@import url('https://fonts.cdnfonts.com/css/press-start');

/* Preload Images */
body::after{
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content: url(leaderboard/button.png) url(leaderboard/highlight_button.png) url(leaderboard/button2.png) url(leaderboard/highlight_button2.png);
}



html,
body {
    height: 100%;
    width: 100%;
    min-width: 360px;
    margin: 0;
    padding: 0;
    font-family: "Press Start", monospace;
    font-size: 12px;
}

body > video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    display: flex;
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.6);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-shadow: 0px 0px 20px #000;
    padding-bottom: 4rem;
}

header {
    display: block;
    width: 100%;
    padding: 3rem;
    color: #fff;
    text-shadow: .2rem .2rem .2rem #000;
    text-align: center;
}

header img {
    display: block;
    margin: 1rem auto;
    width: 90%;
    height: auto;
}

main {
    width: 100%;
    max-width: 50rem;
}

a.back-link:active,
a.back-link:link,
a.back-link:visited {
    display: inline-block;
    color:#fff;
    text-shadow: .2rem .2rem .2rem #000;
    text-decoration: none;
    margin: 1rem 0;
    padding: 2rem;
    background-image: url(leaderboard/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

a.back-link:hover {
    text-decoration: underline;
    background-image: url(leaderboard/highlight_button.png);
}

.map-title,
a.map-title:active,
a.map-title:link,
a.map-title:visited {
    display: block;
    margin: 1rem 0;
    padding: 2rem;
    font-size: 1.4rem;
    /* line-height: 3.5rem; */
    background-image: url(leaderboard/button2.png);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: .2rem .2rem .2rem #000;
    text-decoration: none;
}

a.map-title:hover {
    background-image: url(leaderboard/highlight_button2.png);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

table.race-entries {
    width: 100%;    
    background-color: rgba(0,0,0,0);
    border-collapse: collapse;
    margin-bottom: 1rem;
    overflow: auto;
}

table.race-entries thead {
    background-color: rgba(135, 76, 106, 0.9);
    color: #ff0;
    text-shadow: .2rem .2rem .2rem #000;
}

table.race-entries th.placement {
    width: 3rem;
}

table.race-entries th.name {
    text-align: left;
    text-decoration: underline;
    padding: 1rem 0rem 1rem 4rem;
}

table.race-entries th.time {
    text-align: center;
    text-decoration: underline;
}

table.race-entries tbody {
    background-color: rgba(231, 129, 97,0.9);
    padding: 1rem;
    color: #fff;
    text-shadow: .2rem .2rem .2rem #000;
}

table.race-entries td.is-me {
    background-color: #2a9f1a;
}

table.race-entries td.placement {
    width: 3rem;
    text-align: right;
}

table.race-entries td.name {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    column-gap: 1rem;
    width: 100%;
    padding: 1rem 0rem;
}

table.race-entries td.name img {
    display: block;
    width: auto;
    height: 2rem;
}

table.race-entries td.name span {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 406px) {
    table.race-entries td.name span {
        max-width: 10rem;
    }
}

@media (min-width: 407px) and (max-width: 506px) {
    table.race-entries td.name span {
        max-width: clamp(12rem, 40vw, 32rem);
    }
}

@media (min-width: 507px) and (max-width: 667px) {
    table.race-entries td.name span {
        max-width: clamp(12rem, 50vw, 32rem);
    }
}

@media (min-width: 668px) {
    table.race-entries td.name span {
        max-width: 32rem;
    }
}



table.race-entries td.time {
    width: 10rem;
    text-align: right;
    padding-right: 0.8rem;
}

table.race-entries td.no-entries {
    padding: 1rem 0.8rem;
}

